@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  touch-action: pan-y;
}
.html,
body {
  /* position: fixed; */
  width: 100%;
  height: 100vh;
  /* height:auto; */
  overflow-y: scroll;
  /* touch-action: none; */
  overscroll-behavior-y: none;
  background-color: aliceblue;
  padding-top: 50px;
  padding-bottom: 100px;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
body::-webkit-scrollbar {
  display: none;
}

.test1,.test2,.test3,.test4,.test5 {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  touch-action: none;
  overscroll-behavior-y: none;
  /* background-color:rgb(11, 0, 26); */
  background-color: aliceblue;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
